langchain==1.4.2
langchain-core==1.6.5
langchain-community
langgraph
langchain-openai==1.6.6
langchain-google-genai
langchain-groq
langchain-mistralai
python-dotenv
faiss-cpu
tiktoken
fastapi
uvicorn
requests